* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F6F6;
}

.container {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container>.frame {
    width: 270px;
    height: 520px;
    background: #242424;
    border-radius: 18px;
    position: relative;
}

.frame :is(.power, .volume) {
    position: absolute;
    right: -2px;
    border-radius: 0 10px 10px 0;
    /* transform: rotate(90deg); */
    background: #242424;
}

.frame .power {
    width: 7px;
    height: 70px;
    transform: translateY(80%);
}

.frame .volume {
    width: 7px;
    height: 35px;
    transform: translateY(470%);
}

.frame .camera {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 18px;
    height: 18px;
    background: #1b1b1b;
    display: grid;
    place-items: center;
    border-radius: 50%;
    z-index: 2002;
}

.frame .camera>span {
    width: 1.5px;
    height: 1.5px;
    background: #f5f5f5;
    border-radius: 50%;
}

.frame .main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 97%;
    height: 98%;
    border: 1px solid rgba(255, 255, 255, .2);
    transform: translateX(-50%) translateY(-50%);
    border-radius: 18px;
    overflow: hidden;
}

.frame .main>video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.download {
    display: none;
}

canvas {
    display: none;
}

#capture {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: 2px solid #fff;
    background: #fff;
    outline-offset: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

#capture:hover {
    outline-offset: 0;
}